:root {
	--container-width: 1140px;
	--container-padding: 15px;

	--font-main: 'Raleway', sans-serif;
	--font-accent: 'Playfair Display', serif;
	--font-secondary: 'Roboto', sans-serif;

	--text-color: #fff;
	--dark: #242B33;
	--accent: #D4C17F;
	--footer-bg: #2D343C;
	--placeholder: #BEBEBE;
	--info: #E7E7E7;
}
